<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="jenkins-control-plugin-eclipse">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="jenkins-control-plugin-eclipse"
            class="org.codingjustu.tools.jenkins.view.SampleView"
            id="org.codingjustu.tools.jenkins.view.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
