<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Jenkins"
            id="jenkins-control-plugin-eclipse">
      </category>
      <view
            name="Jenkins Jobs"
            icon="icons/jenkins_logo_16x16.png"
            category="jenkins-control-plugin-eclipse"
            class="org.codinjutsu.tools.jenkins.view.JenkinsJobsView"
            id="org.codinjutsu.tools.jenkins.view.JenkinsJobsView">
      </view>
      <view
            name="Jenkins Builds"
            icon="icons/jenkins_logo_16x16.png"
            category="jenkins-control-plugin-eclipse"
            class="org.codinjutsu.tools.jenkins.view.JenkinsBuildsView"
            id="org.codinjutsu.tools.jenkins.view.JenkinsBuidsView">
      </view>
   </extension>

</plugin>
